<div style="margin-top: 7.1875rem" fxLayout fxLayoutAlign="center center">
  <div fxLayout="column">
    <div fxLayout>
      <div fxLayout fxLayoutAlign="center center">
        <div class="card1" fxLayout="column" style="height: 500px; width: 700px">
          <div class="container">
            <img style="height: 500px; width: 700px" src="assets/img1.png" />
            <div class="cap1 bottom-left">
              <section>
                <p style="font-size: 15px">
                  <mat-icon style="color: yellow"> grade</mat-icon> Top Story |5
                  minutes read
                </p>
                {{ TrendingBlogs[0].title }}
                <div style="color: white; font-size: 10px">
                  <mat-icon>visibility</mat-icon>{{ TrendingBlogs[0].views }} Views
                  |<mat-icon style="color: red">favorite</mat-icon>
                  {{ TrendingBlogs[0].likes }} likes |
                  <mat-icon style="color: blue">comment</mat-icon>
                  {{ TrendingBlogs[0].comments }} Comments
                </div>
                <a style="font-size: 12px">Read More</a>
              </section>
            </div>
          </div>
          <div class="overlay1" fxLayout="column" style="top: 50%; left: 25%">
            <div>5 minutes read</div>
            <a routerLink="/blog-opened">Lets go <mat-icon>arrow_right_alt</mat-icon></a>
          </div>
        </div>
      </div>
      <section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
        <section>
          <div class="card1" fxLayout="column" style="height: 250px; width: 340px">
            <div class="container">
              <img style="height: 250px; width: 340px" src="assets/img1.png" />
              <div class="cap1 bottom-left">
                <section style="font-size: 15px; line-height: 20px">
                  <p style="font-size: 10px">
                    <mat-icon style="color: yellow"> grade</mat-icon> Top Story
                    |5 minutes read
                  </p>
                  {{ TrendingBlogs[0].title }}
                  <div style="color: white; font-size: 10px">
                    <mat-icon>visibility</mat-icon>{{ TrendingBlogs[0].views }} Views
                    |<mat-icon style="color: red">favorite</mat-icon>
                    {{ TrendingBlogs[0].likes }} likes |
                    <mat-icon style="color: blue">comment</mat-icon>
                    {{ TrendingBlogs[0].comments }} Comments
                  </div>
                </section>
              </div>
            </div>
            <div class="overlay1" fxLayout="column" style="top: 230px; left: 62%">
              <div>5 minutes read</div>
              <a routerLink="/blog-opened">Lets go <mat-icon>arrow_right_alt</mat-icon></a>
            </div>
          </div>
        </section>
        <section>
          <div class="card1" fxLayout="column" style="height: 250px; width: 340px">
            <div class="container">
              <img style="height: 250px; width: 340px" src="assets/img1.png" />
              <div class="cap1 bottom-left">
                <section style="font-size: 15px; line-height: 20px">
                  <p style="font-size: 10px">
                    <mat-icon style="color: yellow"> grade</mat-icon> Top Story
                    |5 minutes read
                  </p>
                  {{ TrendingBlogs[0].title }}
                  <div style="color: white; font-size: 10px">
                    <mat-icon>visibility</mat-icon>{{ TrendingBlogs[0].views }} Views
                    |<mat-icon style="color: red">favorite</mat-icon>
                    {{ TrendingBlogs[0].likes }} likes |
                    <mat-icon style="color: blue">comment</mat-icon>
                    {{ TrendingBlogs[0].comments }} Comments
                  </div>
                </section>
              </div>
            </div>
            <div class="overlay1" fxLayout="column" style="top: 70%; left: 62%">
              <div>5 minutes read</div>
              <a routerLink="/blog-opened">Lets go <mat-icon>arrow_right_alt</mat-icon></a>
            </div>
          </div>
        </section>
      </section>
    </div>
    <section fxLayout fxLayoutAlign="center center" style="margin-top: 20px">
      <section fxLayout fxLayoutAlign="center center">
        <div class="card1" fxLayout="column" style="height: 212px; width: 300px">
          <div class="container">
            <img style="height: 212px; width: 300px" src="assets/img1.png" />
            <div class="cap1 bottom-left">
              <section style="font-size: 12px; line-height: 15px">
                <p style="font-size: 10px">
                  <mat-icon style="color: yellow"> grade</mat-icon> Top Story |5
                  minutes read
                </p>
                {{ TrendingBlogs[0].title }}
                <div style="color: white; font-size: 10px">
                  <mat-icon>visibility</mat-icon>{{ TrendingBlogs[0].views }} Views
                  |<mat-icon style="color: red">favorite</mat-icon>
                  {{ TrendingBlogs[0].likes }} likes |
                  <mat-icon style="color: blue">comment</mat-icon>
                  {{ TrendingBlogs[0].comments }} Comments
                </div>
              </section>
            </div>
          </div>
          <div class="overlay1" fxLayout="column" style="top: 110%; left: 10%">
            <div>5 minutes read</div>
            <a routerLink="/blog-opened">Lets go <mat-icon>arrow_right_alt</mat-icon></a>
          </div>
        </div>
      </section>
      <section>
        <div class="card1" fxLayout="column" style="height: 212px; width: 234px">
          <div class="container">
            <img style="height: 212px; width: 234px" src="assets/img1.png" />
            <div class="cap1 bottom-left">
              <section style="font-size: 10px; line-height: 15px">
                <p style="font-size: 10px">
                  <mat-icon style="color: yellow"> grade</mat-icon> Top Story |5
                  minutes read
                </p>
                {{ TrendingBlogs[0].title }}
                <div style="color: white; font-size: 10px">
                  <mat-icon>visibility</mat-icon>{{ TrendingBlogs[0].views }} Views
                  |<mat-icon style="color: red">favorite</mat-icon>
                  {{ TrendingBlogs[0].likes }} likes |
                  <mat-icon style="color: blue">comment</mat-icon>
                  {{ TrendingBlogs[0].comments }} Comments
                </div>
              </section>
            </div>
          </div>
          <div class="overlay1" fxLayout="column" style="top: 110%; left: 30%">
            <div>5 minutes read</div>
            <a routerLink="/blog-opened">Lets go <mat-icon>arrow_right_alt</mat-icon></a>
          </div>
        </div>
      </section>
      <section>
        <div class="card1" fxLayout="column" style="height: 212px; width: 497px">
          <div class="container">
            <img style="height: 212px; width: 497px" src="assets/img1.png" />
            <div class="cap1 bottom-left">
              <section style="font-size: 12px; line-height: 15px">
                <p style="font-size: 10px">
                  <mat-icon style="color: yellow"> grade</mat-icon> Top Story |5
                  minutes read
                </p>
                {{ TrendingBlogs[0].title }}
                <div style="color: white; font-size: 10px">
                  <mat-icon>visibility</mat-icon>{{ TrendingBlogs[0].views }} Views
                  |<mat-icon style="color: red">favorite</mat-icon>
                  {{ TrendingBlogs[0].likes }} likes |
                  <mat-icon style="color: blue">comment</mat-icon>
                  {{ TrendingBlogs[0].comments }} Comments
                </div>
              </section>
            </div>
          </div>
          <div class="overlay1" fxLayout="column" style="top: 110%; left: 56%">
            <div>5 minutes read</div>
            <a routerLink="/blog-opened">Lets go <mat-icon>arrow_right_alt</mat-icon></a>
          </div>
        </div>
      </section>
    </section>
  </div>
  <section fxLayout="column" fxLayoutAlign="center center">
    <section fxLayout fxLayoutAlign="center center" fxLayoutGap="5px">
      <div class="card1" fxLayout="column" style="height: 740px; width: 300px">
        <div class="container">
          <img style="height: 740px; width: 300px" src="assets/img1.png" />
          <div class="cap1 bottom-left">
            <section style="font-size: 15px; line-height: 20px">
              <p style="font-size: 10px">
                <mat-icon style="color: yellow"> grade</mat-icon> Top Story |5
                minutes read
              </p>
              {{ TrendingBlogs[0].title }}
              <div style="color: white; font-size: 10px">
                <mat-icon>visibility</mat-icon>{{ TrendingBlogs[0].views }} Views
                |<mat-icon style="color: red">favorite</mat-icon>{{ TrendingBlogs[0].likes }} likes |
                <mat-icon style="color: blue">comment</mat-icon>{{ TrendingBlogs[0].comments }} Comments
              </div>
              <a style="font-size: 12px">Read More</a>
            </section>
          </div>
        </div>
        <div class="overlay1" fxLayout="column" style="top: 70%; left: 84%">
          <div>5 minutes read</div>
          <a routerLink="/blog-opened">Lets go <mat-icon>arrow_right_alt</mat-icon></a>
        </div>
      </div>
    </section>
  </section>
</div>
<!--Moving blog cards-->
<div class="division">
  <h1 class="heading">Trending reads</h1>
  <div>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let card of TrendingBlogs; let i=index">
        <mat-card class="card" mat-elevation-z0 fxLayout="column" fxLayoutGap="1.125rem">
          <div class="content" fxLayout="row" fxLayoutAlign="end center">
            <div class="text">{{i+1}}</div>
            <img class="size" src={{card.imagePath}}>
          </div>
          <div class="cap">{{card.title}}</div>
          <div class="overlay" fxLayout="column" fxLayoutAlign="none center">
            <div id="read">5 minutes read</div>
            <a routerLink="/blog-opened" id="link1">Lets go <mat-icon>arrow_right_alt</mat-icon></a>
            <div id="caption1">
              <mat-icon>visibility</mat-icon>{{card.views}} Views
              | <mat-icon style="color: #BA0000">favorite</mat-icon>{{card.likes}} likes
              | <mat-icon style="color: #0093FF">comment</mat-icon>{{card.comments}} Comments
            </div>
          </div>
        </mat-card>
      </ng-template>
    </owl-carousel-o>
  </div>

  <h1 class="heading">Fresh reads</h1>
  <div>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let card of FreshBlogs">
        <mat-card class="card" mat-elevation-z0 fxLayout="column" fxLayoutGap="1.125rem">
          <div class="content" fxLayout="row" fxLayoutAlign="end">
            <img class="size1" src={{card.imagePath}}>
          </div>
          <div class="cap">{{card.title}}</div>
          <div class="overlay" fxLayout="column" fxLayoutAlign="none center">
            <div id="read">5 minutes read</div>
            <a routerLink="/blog-opened" id="link1">Lets go <mat-icon>arrow_right_alt</mat-icon></a>
            <div id="caption1">
              <mat-icon>visibility</mat-icon>{{card.views}} Views
              | <mat-icon style="color: #BA0000">favorite</mat-icon>{{card.likes}} likes
              | <mat-icon style="color: #0093FF">comment</mat-icon>{{card.comments}} Comments
            </div>
          </div>
        </mat-card>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>
<!--Big image blog-->
<div class="division bigblog">
  <img class="sample" src="assets/blogimg.png" />
  <div class="content1" fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="0.75rem">
    <div id="p1"><mat-icon style="color: #FFCE00;">grade</mat-icon>Must read | 3 minutes read</div>
    <div id="p2">Know how the future will look like and be ready to prepare for the changes.</div>
    <div id="p3">
      <mat-icon>visibility</mat-icon>548 Views
      | <mat-icon style="color: #BA0000">favorite</mat-icon>549 likes
      | <mat-icon style="color: #0093FF">comment</mat-icon>240 Comments
    </div>
  </div>
  <div class="overlay" fxLayout="column" fxLayoutAlign="none center">
    <div id="bigread">5 minutes read</div>
    <a routerLink="/blog-opened" id="biglink">Lets go <mat-icon>arrow_right_alt</mat-icon></a>
  </div>
</div>
<!--Six blog cards-->
<div class="division">
  <div id="box" fxLayout="row wrap" fxLayoutAlign="space-between" fxLayout.xs="column" fxLayoutAlign.xs="none center">
    <mat-card class="card3" mat-elevation-z0 *ngFor="let card of ListOfBlogs; let i=index">
      <div fxLayout="column">
        <img class="size2" src={{card.imagePath}}>
        <div id="title">{{card.title}}</div>
        <div id="caption">
          <mat-icon>visibility</mat-icon>{{card.views}} Views
          | <mat-icon style="color: #BA0000">favorite</mat-icon>{{card.likes}} likes
          | <mat-icon style="color: #0093FF">comment</mat-icon>{{card.comments}} Comments
        </div>
        <div id="para">{{card.para | slice:0:172}}</div>
        <a routerLink="/blog-opened" id="link">Read more</a>
      </div>
    </mat-card>
  </div>
</div>