<div fxHide.lt-md>
  <br /><br /><br /><br /><br />
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img
          style="height: 610px"
          class="d-block w-100"
          src="\assets\first.gif"
          alt="First slide"
        />
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
      <!--  <h1 class="h3-responsive">Dummy Text</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>  -->
        <a style="cursor: pointer"
          ><mat-icon
            style="
              background-color: white;
              color: black;
              border-radius: 50%;
              font-size: 15px;
              height: 16px;
              width: 16px;
            "
            >keyboard_arrow_right</mat-icon
          >&nbsp; Show More</a
        >
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img
          style="height: 610px"
          class="d-block w-100"
          src="\assets\cartan.gif"
          alt="Second slide"
        />
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <!-- <h1 class="h3-responsive">Dummy Text</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p> -->
        <a style="cursor: pointer"
          ><mat-icon
            style="
              background-color: white;
              color: black;
              border-radius: 50%;
              font-size: 15px;
              height: 16px;
              width: 16px;
            "
            >keyboard_arrow_right</mat-icon
          >&nbsp; Show More</a
        >
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img
          style="height: 610px"
          class="d-block w-100"
          src="\assets\joined (1).gif"
          alt="First slide"
        />
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <!-- <h1 class="h3-responsive">Dummy Text</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p> -->
        <a style="cursor: pointer"
          ><mat-icon
            style="
              background-color: white;
              color: black;
              border-radius: 50%;
              font-size: 15px;
              height: 16px;
              width: 16px;
            "
            >keyboard_arrow_right</mat-icon
          >&nbsp; Show More</a
        >
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img
          style="height: 610px"
          class="d-block w-100"
          src="\assets\joined (3).gif"
          alt="Third slide"
        />
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <!-- <h1 class="h3-responsive">Dummy Text</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p> -->
        <a style="cursor: pointer"
          ><mat-icon
            style="
              background-color: white;
              color: black;
              border-radius: 50%;
              font-size: 15px;
              height: 16px;
              width: 16px;
            "
            >keyboard_arrow_right</mat-icon
          >&nbsp; Show More</a
        >
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img
          style="height: 610px"
          class="d-block w-100"
          src="\assets\joined (2).gif"
          alt="Third slide"
        />
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <!-- <h1 class="h3-responsive">Dummy Text</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p> -->
        <a style="cursor: pointer"
          ><mat-icon
            style="
              background-color: white;
              color: black;
              border-radius: 50%;
              font-size: 15px;
              height: 16px;
              width: 16px;
            "
            >keyboard_arrow_right</mat-icon
          >&nbsp; Show More</a
        >
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>
<div fxHide.gt-md class="desktop">
  <br /><br /><br /><br /><br /><br /><mdb-carousel
    class="carousel slide carousel-fade"
    [animation]="'fade'"
  >
    <mdb-carousel-item>
      <div class="view w-100">
        <img
          class="d-block w-100"
          style="height: 300px"
          src="\assets\first.gif"
          alt="First slide"
        />
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <!-- <h1 class="h3-responsive">Dummy Text</h1>
        <p style="font-size: 10px">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr
        </p> -->
        <a style="cursor: pointer; font-size: 10px"
          ><mat-icon
            style="
              background-color: white;
              color: black;
              border-radius: 50%;
              font-size: 9px;
              height: 10px;
              width: 10px;
            "
            >keyboard_arrow_right</mat-icon
          >&nbsp; Show More</a
        >
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img
          class="d-block w-100"
          style="height: 300px"
          src="\assets\cartan.gif"
          alt="Second slide"
        />
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <!-- <h1 class="h3-responsive">Dummy Text</h1>
        <p style="font-size: 10px">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr
        </p> -->
        <a style="cursor: pointer; font-size: 10px"
          ><mat-icon
            style="
              background-color: white;
              color: black;
              border-radius: 50%;
              font-size: 9px;
              height: 10px;
              width: 10px;
            "
            >keyboard_arrow_right</mat-icon
          >&nbsp; Show More</a
        >
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img
          class="d-block w-100"
          style="height: 300px"
          src="\assets\joined (1).gif"
          alt="Third slide"
        />
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <!-- <h1 class="h3-responsive">Dummy Text</h1>
        <p style="font-size: 10px">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr
        </p> -->
        <a style="cursor: pointer; font-size: 10px"
          ><mat-icon
            style="
              background-color: white;
              color: black;
              border-radius: 50%;
              font-size: 9px;
              height: 10px;
              width: 10px;
            "
            >keyboard_arrow_right</mat-icon
          >&nbsp; Show More</a
        >
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img
          class="d-block w-100"
          style="height: 300px"
          src="\assets\joined (3).gif"
          alt="Third slide"
        />
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <!-- <h1 class="h3-responsive">Dummy Text</h1>
        <p style="font-size: 10px">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr
        </p> -->
        <a style="cursor: pointer; font-size: 10px"
          ><mat-icon
            style="
              background-color: white;
              color: black;
              border-radius: 50%;
              font-size: 9px;
              height: 10px;
              width: 10px;
            "
            >keyboard_arrow_right</mat-icon
          >&nbsp; Show More</a
        >
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img
          class="d-block w-100"
          style="height: 300px"
          src="\assets\joined (2).gif"
          alt="Third slide"
        />
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <!-- <h1 class="h3-responsive">Dummy Text</h1>
        <p style="font-size: 10px">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr
        </p> -->
        <a style="cursor: pointer; font-size: 10px"
          ><mat-icon
            style="
              background-color: white;
              color: black;
              border-radius: 50%;
              font-size: 9px;
              height: 10px;
              width: 10px;
            "
            >keyboard_arrow_right</mat-icon
          >&nbsp; Show More</a
        >
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>
