<div>
  <div class="left-div">
    <p class="comingsoon">Coming soon...</p>
    <p class="underconst">Our website is under construction. <br><br>Stay connected for updates!</p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScwtbx97_5X1bX4AsDkQ1mVKTYeMopKlDMWaIG5U01mOGN3qA/viewform"><button mat-button class="contactus">Contact Us</button></a>
  </div>

  <div class="right-div"><img src="assets/bothello.png"></div>
</div>

<footer>
  <mat-toolbar class="bottom-panel">
    <div class="contdet">
      <p>Contact us at:</p>
      <p><a href="mailto: contact@inspiredai.co">contact@inspiredai.co</a></p>
      <p>+91 9022352526</p>
    </div>
  </mat-toolbar>
</footer>
