<div fxHide.lt-md class="desktop">
  <div fxLayout fxLayoutAlign="center" fxLayoutGap="350px" class="container1">
    <div>
      <section class="top-left">
        <section class="oval"></section>
      </section>
      <section class="heading">
        Sign In to<br />
        try Hexi for free.
      </section>
      <br /><br /><br /><br />
      <section class="font">
        If you already have an account <br />You can
        <a class="a" href="/login">Sign in here!</a>
      </section>
      <div class="bottom-left">
        <img class="image" src="\assets\Images\Signup\signup.png" />
      </div>
    </div>
    <div class="top-right" style="padding-top: 50px">
      <div style="padding-top: 50px">
        <section>
          <section class="form-card">
            <form
              fxLayout="column"
              [formGroup]="loginForm"
              #form="ngForm"
              (ngSubmit)="onsignup(form)"
            >
              <div class="form-group">
                <input
                  class="form-control"
                  formControlName="fname"
                  type="text"
                  ngModel
                  placeholder="Name"
                />
              </div>
              <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.fname">
                  <div
                    class="error-message"
                    *ngIf="
                      loginForm.get('fname').hasError(error.type) &&
                      (loginForm.get('fname').dirty ||
                        loginForm.get('fname').touched)
                    "
                  >
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>

              <div class="form-group">
                <input
                  class="form-control"
                  formControlName="email"
                  type="text"
                  ngModel
                  placeholder="E-mail"
                />
              </div>
              <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.email">
                  <div
                    class="error-message"
                    *ngIf="
                      loginForm.get('email').hasError(error.type) &&
                      (loginForm.get('email').dirty ||
                        loginForm.get('email').touched)
                    "
                  >
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>

              <div class="form-group">
                <input
                  class="form-control"
                  formControlName="phoneNumber"
                  type="number"
                  ngModel
                  placeholder="Phone Number"
                />
              </div>
              <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.phoneNumber">
                  <div
                    class="error-message"
                    *ngIf="
                      loginForm.get('phoneNumber').hasError(error.type) &&
                      (loginForm.get('phoneNumber').dirty ||
                        loginForm.get('phoneNumber').touched)
                    "
                  >
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>

              <div class="form-group">
                <input
                  class="form-control"
                  formControlName="password"
                  type="password"
                  ngModel
                  placeholder="Password"
                />
              </div>
              <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.password">
                  <div
                    class="error-message"
                    *ngIf="
                      loginForm.get('password').hasError(error.type) &&
                      (loginForm.get('password').dirty ||
                        loginForm.get('password').touched)
                    "
                  >
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>

              <div class="form-group">
                <input
                  class="form-control"
                  formControlName="confirmpassword"
                  type="password"
                  ngModel
                  placeholder="Confirm Password"
                />
              </div>
              <div class="error-messages">
                <ng-container
                  *ngFor="let error of error_messages.confirmpassword"
                >
                  <div
                    class="error-message"
                    *ngIf="
                      loginForm.get('confirmpassword').hasError(error.type) &&
                      (loginForm.get('confirmpassword').dirty ||
                        loginForm.get('confirmpassword').touched)
                    "
                  >
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
              <br />

              <p class="error-message" *ngIf="loginForm.invalid === true">
                Fill Valid Information<br />
              </p>
              <p *ngIf="loginForm.valid === true">Submit Form To Continue</p>
              <button
                class="btn"
                type="submit"
                color="primary"
                [disabled]="loginForm.invalid"
                [disabled]="form.invalid"
              >
                <a style="text-decoration: none; color: white">Sign up</a>
              </button>
            </form>
            <section fxLayout="column" fxLayoutAlign="center center">
              <section style="padding-top: 30px; padding-bottom: 20px">
                <p>
                  -----------------------Or continue with-----------------------
                </p>
              </section>
              <section
                fxLayout
                fxLayoutAlign="center center"
                fxLayoutGap="30px"
              >
                <section class="icon-card">
                  <img
                    (click)="googleSignIn()"
                    fxLayout
                    fxLayoutAlign="center center"
                    src="assets\Images\Signup\google.png"
                  />
                </section>
                <section class="icon-card">
                  <img
                    style="background-color: white"
                    src="assets\Images\Signup\apple.png"
                  />
                </section>
                <section class="icon-card">
                  <img src="assets\Images\Signup\facebook.png" />
                </section>
              </section>
            </section>
          </section>
        </section>
      </div>
    </div>
  </div>
</div>
<div fxHide.gt-md class="mobile">
  <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="80px">
      <section style="padding-top: 200px; padding-left: 100px">
        <section class="oval"></section>
      </section>
      <section class="heading" style="padding-top: 100px">
        Sign In to<br />
        try Hexi for free.
      </section>
      <section class="font" style="padding-top: 150px">
        If you already have an account <br />You can
        <a class="a" href="/login">Sign in here!</a>
      </section>
    </div>
    <section
      class="bottom-left"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <img class="image" src="\assets\Images\Signup\signup.png" />
    </section>
    <div fxLayout="column" fxLayoutAlign="center center">
      <section>
        <section
          class="form-card"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <form
            fxLayout="column"
            fxLayoutAlign="center center"
            [formGroup]="loginForm"
            #form="ngForm"
            (ngSubmit)="onsignup(form)"
          >
            <div class="form-group">
              <input
                class="form-control"
                formControlName="fname"
                type="text"
                ngModel
                placeholder="Name"
              />
            </div>
            <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.fname">
                <div
                  class="error-message"
                  *ngIf="
                    loginForm.get('fname').hasError(error.type) &&
                    (loginForm.get('fname').dirty ||
                      loginForm.get('fname').touched)
                  "
                >
                  {{ error.message }}
                </div>
              </ng-container>
            </div>

            <div class="form-group">
              <input
                class="form-control"
                formControlName="email"
                type="text"
                ngModel
                placeholder="E-mail"
              />
            </div>
            <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.email">
                <div
                  class="error-message"
                  *ngIf="
                    loginForm.get('email').hasError(error.type) &&
                    (loginForm.get('email').dirty ||
                      loginForm.get('email').touched)
                  "
                >
                  {{ error.message }}
                </div>
              </ng-container>
            </div>

            <div class="form-group">
              <input
                class="form-control"
                formControlName="phoneNumber"
                type="number"
                ngModel
                placeholder="Phone Number"
              />
            </div>
            <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.phoneNumber">
                <div
                  class="error-message"
                  *ngIf="
                    loginForm.get('phoneNumber').hasError(error.type) &&
                    (loginForm.get('phoneNumber').dirty ||
                      loginForm.get('phoneNumber').touched)
                  "
                >
                  {{ error.message }}
                </div>
              </ng-container>
            </div>

            <div class="form-group">
              <input
                class="form-control"
                formControlName="password"
                type="password"
                ngModel
                placeholder="Password"
              />
            </div>
            <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.password">
                <div
                  class="error-message"
                  *ngIf="
                    loginForm.get('password').hasError(error.type) &&
                    (loginForm.get('password').dirty ||
                      loginForm.get('password').touched)
                  "
                >
                  {{ error.message }}
                </div>
              </ng-container>
            </div>

            <div class="form-group">
              <input
                class="form-control"
                formControlName="confirmpassword"
                type="password"
                ngModel
                placeholder="Confirm Password"
              />
            </div>
            <div class="error-messages">
              <ng-container
                *ngFor="let error of error_messages.confirmpassword"
              >
                <div
                  class="error-message"
                  *ngIf="
                    loginForm.get('confirmpassword').hasError(error.type) &&
                    (loginForm.get('confirmpassword').dirty ||
                      loginForm.get('confirmpassword').touched)
                  "
                >
                  {{ error.message }}
                </div>
              </ng-container>
            </div>
            <br />

            <p class="error-message" *ngIf="loginForm.invalid === true">
              Fill Valid Information<br />
            </p>
            <p *ngIf="loginForm.valid === true">Submit Form To Continue</p>
            <button
              class="btn"
              type="submit"
              color="primary"
              [disabled]="loginForm.invalid"
              [disabled]="form.invalid"
              style="width: 280px"
            >
              <a style="text-decoration: none; color: white">Sign up</a>
            </button>
          </form>
          <section fxLayout="column" fxLayoutAlign="center center">
            <section style="padding-top: 30px; padding-bottom: 20px">
              <p>
                -----------------------Or continue with-----------------------
              </p>
            </section>
            <section fxLayout fxLayoutAlign="center center" fxLayoutGap="30px">
              <section class="icon-card">
                <img
                  (click)="googleSignIn()"
                  fxLayout
                  fxLayoutAlign="center center"
                  src="assets\Images\Signup\google.png"
                />
              </section>
              <section class="icon-card">
                <img
                  style="background-color: white"
                  src="assets\Images\Signup\apple.png"
                />
              </section>
              <section class="icon-card">
                <img src="assets\Images\Signup\facebook.png" />
              </section>
            </section>
          </section>
        </section>
      </section>
    </div>
  </div>
</div>
