<!--Sixth content-->
<div ngClass="sixth" [ngClass.lt-md]="{'sixth':false,'sixthsm':true}"
fxLayout="column" fxLayoutGap="16.875rem" fxLayoutGap.xs="10rem">
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="6.5625rem"
    fxLayout.xs="column" fxLayoutAlign.xs="none center" fxLayoutGap.xs="5rem">
        <div fxLayout="column" fxFlex=50 fxLayoutAlign="center" fxFlex.xs=auto>
            <div class="mat-display-1">Convolutional Neural Network</div>
            <div class="mat-caption-1">Using CNN in deep learning, we analyse visual imagery to detect suspicious behaviour. Not just suspicious behaviour, we will also detect faces, objects and human behaviour to analyse and store data which helps RedEye self-learn and increase its efficiency through each passing day. 
            </div>
        </div>
        <div>
            <img src="assets/sixth_img1.png" id="image">
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="5.9375rem"
    fxLayout.xs="column" fxLayoutAlign.xs="none center" fxLayoutGap.xs="5rem">
        <div fxFlexOrder.xs="2">
            <img src="assets/sixth_img2.png" id="image">
        </div>
        <div fxLayout="column" fxFlex=50 fxLayoutAlign="center" fxFlex.xs=auto fxFlexOrder.xs="1">
            <div class="mat-display-2">Cloud-Based Live Feed</div>
            <div class="mat-caption-2">The RedEye live feed will be directly connected to cloud. Our 
                deep learning model will use this live feed as data to learn about 
                human behaviour and intern any suspicious activities detected 
                will be prompted through alerts to the customers on the Personal 
                computer and Mobile applications. </div>
        </div>
    </div>
</div>