<!--First content-->
<div
  *ngIf="!devicesm && !devicexs"
  ngClass="second"
  [ngClass.lt-md]="{ second: false, secondsm: true }"
  fxLayout="column"
  fxLayoutGap="16.875rem"
  fxLayoutGap.xs="10rem"
>
  <div
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="6.5625rem"
    fxLayout.xs="column"
    fxLayoutAlign.xs="none center"
    fxLayoutGap.xs="5rem"
  >
    <div fxLayout="column" fxFlex="50" fxLayoutAlign="center" fxFlex.xs="auto">
      <div class="mat-display-1">
        How does <span style="color: #24c3a8">RedEye</span> work?
      </div>
      <div class="mat-caption-1">
        Any CCTV camera only records a movie whenever a theft or damage of property occurs. It only proves to be efficient when security personnel is present near a monitor to examine. RedEye is a product backed with Artificial Intelligence and Computer Vision. So, when connected to a CCTV system, it examines human behaviour and detects thefts and other suspicious behaviour to alert you within seconds! 
      </div>
    </div>
    <div>
      <img src="assets/solution/first.png" id="image" />
    </div>
  </div>
</div>

<div
  *ngIf="!devicesm && !devicexs"
  ngClass="first"
  [ngClass.lt-md]="{ first: false, firstsm: true }"
  fxLayout="column"
  fxLayoutGap="16.875rem"
  fxLayoutGap.xs="10rem"
>
  <div
    fxLayout="row"
    fxLayoutAlign="none center"
    fxLayoutGap="5.9375rem"
    fxLayout.xs="column"
    fxLayoutAlign.xs="none center"
    fxLayoutGap.xs="5rem"
    style="position: relative"
  >
    <div fxFlexOrder.xs="2">
      <img src="assets/solution/second.png" id="image2" />
    </div>
    <div
      fxLayout="column"
      fxFlex="50"
      fxLayoutAlign="center"
      fxFlex.xs="auto"
      fxFlexOrder.xs="1"
      style="position: absolute; bottom: 0; right: 6.4rem; width: 32rem"
    >
      <div class="mat-display-2">Live Feed</div>
      <div class="mat-caption-2">
        RedEye will monitor your live feed to collect data and analyze it. It will follow up with every human movement to detect suspicious behavior and activities.
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="!devicesm && !devicexs"
  ngClass="second"
  style="margin-top: -20rem;"
  [ngClass.lt-md]="{ second: false, secondsm: true }"
  fxLayout="column"
  fxLayoutGap="16.875rem"
  fxLayoutGap.xs="10rem"
>
  <div
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="6.5625rem"
    fxLayout.xs="column"
    fxLayoutAlign.xs="none center"
    fxLayoutGap.xs="5rem"
    style="position: relative"
  >
    <div
      fxLayout="column"
      fxFlex="50"
      fxLayoutAlign="center"
      fxFlex.xs="auto"
      style="position: absolute; bottom: 0; left: -22.6rem; width: 32rem"
    >
      <div class="mat-display-3">Cloud Real Time</div>
      <div class="mat-caption-3">
        There are various CCTV cameras on your premises. You might have a question as to how the software will run so many live feeds in real-time? We use Cloud Based Servers that create a thread to run our live feed and alert you of theft and suspicious behaviour in seconds.
      </div>
    </div>
    <div>
      <img
        src="assets/solution/third.png"
        style="margin-right: 7.8rem"
        id="image3"
      />
    </div>
  </div>
</div>

<div
  *ngIf="!devicesm && !devicexs"
  ngClass="first"
  [ngClass.lt-md]="{ first: false, firstsm: true }"
  fxLayout="column"
  fxLayoutGap="16.875rem"
  fxLayoutGap.xs="10rem"
>
  <div
    fxLayout="row"
    fxLayoutAlign="none center"
    fxLayoutGap="5.9375rem"
    fxLayout.xs="column"
    fxLayoutAlign.xs="none center"
    fxLayoutGap.xs="5rem"
    style="position: relative"
  >
    <div fxFlexOrder.xs="2">
      <img src="assets/solution/fourth.png" id="image4" />
    </div>
    <div
      fxLayout="column"
      fxFlex="50"
      fxLayoutAlign="center"
      fxFlex.xs="auto"
      fxFlexOrder.xs="1"
      style="position: absolute; bottom: 0; right: 6.4rem; width: 32rem"
    >
      <div class="mat-display-3">
        <span style="color: #24c3a8">RedEye</span>
      </div>
      <div class="mat-caption-3">
        RedEye keeps an eye on your live feed, uploads the data on the cloud and through these servers backed by Artificial Intelligence and Computer Vision, detects thefts and suspicious behavior. So you can sleep and work in peace! 
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="!devicesm && !devicexs"
  ngClass="second"
  style="margin-top: -20rem;"
  [ngClass.lt-md]="{ second: false, secondsm: true }"
  fxLayout="column"
  fxLayoutGap="16.875rem"
  fxLayoutGap.xs="10rem"
>
  <div
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="6.5625rem"
    fxLayout.xs="column"
    fxLayoutAlign.xs="none center"
    fxLayoutGap.xs="5rem"
    style="position: relative"
  >
    <div
      fxLayout="column"
      fxFlex="50"
      fxLayoutAlign="center"
      fxFlex.xs="auto"
      style="position: absolute; bottom: 0; left: -22.6rem; width: 32rem"
    >
      <div class="mat-display-3">Real-Time Alerts</div>
      <div class="mat-caption-3">
        Whether you are a cashier busy at a retail store or a working man or woman at an office. Rest assured that you’ll be alerted when suspicious behaviour takes place at your departmental store or home.
      </div>
    </div>
    <div>
      <img
        src="assets/solution/fifth.png"
        style="margin-right: 7.8rem"
        id="image5"
      />
    </div>
  </div>
</div>

<!-- mobile view -->
<div *ngIf="devicexs || devicesm" class="first2">
  <div>
    <img
      src="assets/solution/first.png"
      style="width: 100%; margin-bottom: 1rem; margin-top: 6rem;"
    />
  </div>
  <div
    style="
      color: black;
      text-align: center;
      margin-bottom: 1.5rem;
      font-weight: bold;
      font-size: 1.9rem;
    "
  >
    How does <span style="color: #24c3a8">RedEye</span> work?
  </div>
  <div
    style="
      color: black;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.8rem;
      letter-spacing: 0.03em;
      text-align: justify;
      margin-left: 0.7rem;
      margin-right: 0.7rem;
    "
  >
  Any CCTV camera only records a movie whenever a theft or damage of property occurs. It only proves to be efficient when security personnel is present near a monitor to examine. RedEye is a product backed with Artificial Intelligence and Computer Vision. So, when connected to a CCTV system, it examines human behaviour and detects thefts and other suspicious behaviour to alert you within seconds! 
  </div>
</div>

<div *ngIf="devicexs || devicesm" class="first2">
  <div>
    <img
      src="assets/solution/second.png"
      style="width: 100%; margin-bottom: 1rem"
    />
  </div>
  <div
    style="
      color: black;
      text-align: center;
      margin-bottom: 1.5rem;
      font-weight: bold;
      font-size: 1.9rem;
    "
  >
    Live Feed
  </div>
  <div
    style="
      color: black;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.8rem;
      letter-spacing: 0.03em;
      text-align: justify;
      margin-left: 0.7rem;
      margin-right: 0.7rem;
    "
  >
  RedEye will monitor your live feed to collect data and analyze it. It will follow up with every human movement to detect suspicious behavior and activities.
  </div>
</div>

<div *ngIf="devicexs || devicesm" class="first2">
  <div>
    <img
      src="assets/solution/third.png"
      style="width: 100%; margin-bottom: 1rem"
    />
  </div>
  <div
    style="
      color: black;
      text-align: center;
      margin-bottom: 1.5rem;
      font-weight: bold;
      font-size: 1.9rem;
    "
  >
    Cloud Real Time
  </div>
  <div
    style="
      color: black;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.8rem;
      letter-spacing: 0.03em;
      text-align: justify;
      margin-left: 0.7rem;
      margin-right: 0.7rem;
    "
  >
  There are various CCTV cameras on your premises. You might have a question as to how the software will run so many live feeds in real-time? We use Cloud Based Servers that create a thread to run our live feed and alert you of theft and suspicious behaviour in seconds.
  </div>
</div>

<div *ngIf="devicexs || devicesm" class="first2">
  <div>
    <img
      src="assets/solution/fourth.png"
      style="width: 100%; margin-bottom: 1rem"
    />
  </div>
  <div
    style="
      color: #24c3a8;
      text-align: center;
      margin-bottom: 1.5rem;
      font-weight: bold;
      font-size: 1.9rem;
    "
  >
    RedEye
  </div>
  <div
    style="
      color: black;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.8rem;
      letter-spacing: 0.03em;
      text-align: justify;
      margin-left: 0.7rem;
      margin-right: 0.7rem;
    "
  >
  RedEye keeps an eye on your live feed, uploads the data on the cloud and through these servers backed by Artificial Intelligence and Computer Vision, detects thefts and suspicious behavior. So you can sleep and work in peace!
  </div>
</div>

<div *ngIf="devicexs || devicesm" class="first2">
  <div>
    <img
      src="assets/solution/fifth.png"
      style="width: 100%; margin-bottom: 1rem"
    />
  </div>
  <div
    style="
      color: black;
      text-align: center;
      margin-bottom: 1.5rem;
      font-weight: bold;
      font-size: 1.9rem;
    "
  >
    Real-Time Alerts
  </div>
  <div
    style="
      color: black;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.8rem;
      letter-spacing: 0.03em;
      text-align: justify;
      margin-left: 0.7rem;
      margin-right: 0.7rem;
    "
  >
  Whether you are a cashier busy at a retail store or a working man or woman at an office. Rest assured that you’ll be alerted when suspicious behaviour takes place at your departmental store or home.
  </div>
</div>
<div class="btndiv1">
  <button mat-flat-button class="btn" (click)="onClick()">
    Request a demo
  </button>
</div>

<!-- Tabs -->
<!-- <mat-tab-group mat-stretch-tabs>
    <mat-tab class="labels" label="Retail security software"></mat-tab>
    <mat-tab class="labels" label="Home security software"></mat-tab>
</mat-tab-group> -->
<div *ngIf="firsttab" style="margin-bottom: -10rem;" class="tabs">
  <div class="tab1">
    <p *ngIf="!devicexs && !devicesm" class="retail">Retail security software</p>
    <p *ngIf="devicexs || devicesm" class="retail" 
    style="font-size: 1.2rem; text-align: center; line-height: 2rem">Retail security software</p>
  </div>
  <div *ngIf="!devicexs && !devicesm" class="sepout"><div class="sep"></div></div>
  <div *ngIf="devicexs || devicesm" class="sepout"><div class="sep" style="margin-top: 0rem; width: 2px"></div></div>
  <div class="tab2">
    <p *ngIf="!devicexs && !devicesm" class="home" (click)="homeClicked()">Home security software</p>
    <p *ngIf="devicexs || devicesm" class="home"
      style="font-size: 1.2rem; text-align: center; line-height: 2rem" (click)="homeClicked()">Home security software</p>
  </div>
</div>

<div *ngIf="!firsttab" class="tabs">
  <div class="tab12">
    <p *ngIf="!devicexs && !devicesm" class="retail2" (click)="retailClicked()">Retail security software</p>
    <p *ngIf="devicexs || devicesm" class="retail2"
    style="font-size: 1.2rem; text-align: center; line-height: 2rem" (click)="retailClicked()">Retail security software</p>
  </div>
  <div *ngIf="!devicexs && !devicesm" class="sepout"><div class="sep"></div></div>
  <div *ngIf="devicexs || devicesm" class="sepout2"><div class="sep" style="margin-top: 0rem; width: 2px"></div></div>
  <div class="tab22">
    <p *ngIf="!devicexs && !devicesm" class="home2" (click)="homeClicked()">Home security software</p>
    <p *ngIf="devicexs || devicesm" (click)="homeClicked()" class="home2"
      style="font-size: 1.2rem; text-align: center; line-height: 2rem">Home security software</p>
  </div>
</div>
<!-- Sixth content -->
<div
  *ngIf="firsttab || secondTab"
  style="margin-top: 20%; padding: 2%"
>
  <div *ngIf="!devicexs && !devicesm">
    <section *ngIf="firsttab">
      <iframe
        width="100%"
        height="600px"
        src="https://www.youtube.com/embed/Yy6trIqjbV8"
      >
      </iframe>
    </section>

    <section *ngIf="secondTab">
      <iframe
        width="100%"
        height="600px"
        src="https://www.youtube.com/embed/xG9JqCwzZYI"
      >
      </iframe>
    </section>
  </div>
  <div *ngIf="devicexs || devicesm">
    <section *ngIf="mobilefirsttab">
      <iframe
        width="100%"
        height="300px"
        src="https://www.youtube.com/embed/Yy6trIqjbV8"
      >
      </iframe>
    </section>

    <section *ngIf="mobilesecondTab">
      <iframe
        width="100%"
        height="300px"
        src="https://www.youtube.com/embed/xG9JqCwzZYI"
      >
      </iframe>
    </section>
  </div>
</div>

<div class="seventh" style="text-align: center; margin-top: 4.5rem">
  <p *ngIf="!devicexs && !devicesm && firsttab" class="contentlast">
    Retail stores in the US have expensive security personnel to monitor their stores because they don't have an option. Medium-sized and large retail stores can afford a Security Guard in their CCTV room that costs them $60,000+ a year. Small retail outlets cannot afford a CCTV room or a Security Guard to monitor it every corner of their store when suspicious activity takes place. 
Having a security software system that can detect suspicious human behaviour and thefts and alert them, can help in reducing the costs of the security guards and saving the additional cost of $60,000+ a year. Not to forget the saving of $30,000 by preventing shoplifting of goods.

  </p>

  <p *ngIf="!devicexs && !devicesm && secondTab" class="contentlast">
    Only 24% of house owners in the US own a home security system. People who do own these systems have no or fewer options to let the theft occur when they are out of the house. There is NO immediate response when suspicious behaviour is tracked. When you own a CCTV, it is more like making a movie than actually alerting you about the red flags. 
  </p>
  <p
    *ngIf="devicexs || devicesm && firsttab"
    style="
      color: black;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.8rem;
      letter-spacing: 0.03em;
      text-align: justify;
      margin-left: 0.7rem;
      margin-right: 0.7rem;
    "
  >
  Retail stores in the US have expensive security personnel to monitor their stores because they don't have an option. Medium-sized and large retail stores can afford a Security Guard in their CCTV room that costs them $60,000+ a year. Small retail outlets cannot afford a CCTV room or a Security Guard to monitor it every corner of their store when suspicious activity takes place. 
  Having a security software system that can detect suspicious human behaviour and thefts and alert them, can help in reducing the costs of the security guards and saving the additional cost of $60,000+ a year. Not to forget the saving of $30,000 by preventing shoplifting of goods.
  
  </p>
  <p
  *ngIf="devicexs || devicesm && secondTab"
  style="
    color: black;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.8rem;
    letter-spacing: 0.03em;
    text-align: justify;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
  "
>
Only 24% of house owners in the US own a home security system. People who do own these systems have no or fewer options to let the theft occur when they are out of the house. There is NO immediate response when suspicious behaviour is tracked. When you own a CCTV, it is more like making a movie than actually alerting you about the red flags. 
</p>
</div>

<div class="btndiv" style="margin-top: 5rem; text-align: center">
  <button mat-flat-button class="btn" (click)="onClick()">
    Request a demo
  </button>
</div>


