<!--Fifth content-->
<!-- Codes by HTMLcodes.ws -->
<img src="assets/design.png" id="design" />
<div fxLayout fxLayoutAlign="center center" style="margin-top: 100px">
  <div id="element-5" class="element"><b>OUR</b></div>
  <div id="element-6" class="element">Technology</div>
</div>

<div fxHide.lt-md>
  <div style="margin-top: 150px; margin-right: 2%">
    <span class="container">
      <img src="assets/technology.png" id="design" />
      <div class="bottom-left">
        <h1>Computer vision</h1>
        <p>
          We give cameras the power to mimic a human eye.using computer vision,
          your simple CCTV cameras can be turned into a RedEye through data
          collection, analytics,Real-time data, trained over 100,000+ hours of
          feed . we user Artificial inteligence to have computers looking around
          your properties,department stores and even warehouse , so you can sit
          back and relax!
        </p>
      </div></span
    >
  </div>
</div>
<div fxHide.gt-md>
  <div style="margin-top: 150px; margin-right: 7%">
    <span class="container">
      <img src="assets/technology.png" style="height: 250px" id="design" />
      <div class="mobileBottom-left">
        <span>Computer vision</span>
        <p>
          We give cameras the power to mimic a human eye.using computer vision,
          your simple CCTV cameras can be turned into a RedEye through data
          collection, analytics,Real-time data, trained over 100,000+ hours of
          feed . we user Artificial inteligence to have computers looking around
          your properties,department stores and even warehouse , so you can sit
          back and relax!<br /><br />
        </p></div
    ></span>
  </div>
</div>
